*{
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    box-sizing: border-box
}

html{
    margin-right: 10px;
}

:root{
    --roboto: 'Roboto', sans-serif;
    --serif: 'PT serif', serif;
    --poppins: 'Poppins', sans-serif;
    --montserrat:'Montserrat', sans-serif;
}

.tipo-poppins{
    font-family: var(--poppins);
}

.PT-serif{
    font-family: var(--serif);
}

.pie{
    font-family: var(--montserrat);
}