*{
    margin: 0;
    padding: 0;
    border: 1px solid black;
    box-sizing: border-box;
}

:root{
    --roboto: 'Roboto', sans-serif;
    --serif: 'PT serif', serif;
    --poppins: 'Poppins', sans-serif;
}

.tipo-poppins{
    font-family: var(--poppins);
}

.PT-serif{
    font-family: var(--serif);
}
